<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover,user-scalable=no">
<meta name="nk-studio-origin" content="https://nullkode.com">
<title>{{TITLE}}</title>
<style>html,body{margin:0;height:100%;background:#10141f;overflow:hidden}</style>
</head>
<body>
<div id="nk-game"></div>
<script src="/nk-engine/phaser-2d/1.1.0/nk-game.min.js" integrity="sha384-hxQtpohDPP/wSDtAsE4Hr6uhQyEsbYGYD9gm1A9KonDO//Xd287V/GSngXTS4DbY" crossorigin="anonymous"></script>
<script src="/nk-engine/phaser-2d/1.1.0/phaser.min.js" integrity="sha384-kyUQ5+cxc6+X89xEG6DhcXLcDU9T3Z+o/45VdT6pgAwtG6gxtAzYTEn0Wwj/BKZd" crossorigin="anonymous"></script>
<script src="/nk-engine/phaser-2d/1.1.0/nk-game-2d.min.js" integrity="sha384-jotz8aKNu9ZKvDHfoPr7Ua7ReCZW6ZgLVrYe30oUwSV2yXzLg2+cID+29Y+pn6lq" crossorigin="anonymous"></script>
<script>NK.boot();</script>
</body>
</html>
