<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover,user-scalable=no">
<meta name="nk-studio-origin" content="https://nullkode.com">
<title>{{TITLE}}</title>
<style>
@font-face{font-family:'Kenney Future';src:url('/nk-engine/three-3d/1.1.0/fonts/kenney-future.ttf') format('truetype');font-display:swap}
html,body{margin:0;height:100%;background:#10141f;overflow:hidden}
</style>
</head>
<body>
<div id="nk-game"></div>
<script src="/nk-engine/three-3d/1.1.0/nk-game.min.js" integrity="sha384-hxQtpohDPP/wSDtAsE4Hr6uhQyEsbYGYD9gm1A9KonDO//Xd287V/GSngXTS4DbY" crossorigin="anonymous"></script>
<script src="/nk-engine/three-3d/1.1.0/nk-three.min.js" integrity="sha384-0XjYveZXzPlP7xN+ZA1EyCHpyEtw9e8DLWMJKHId1mA4+gIKh8T56YNchvfOnipY" crossorigin="anonymous"></script>
<script>NK.boot();</script>
</body>
</html>
